---
layout: splash
classes: wide
  - landing
  - dark-theme
author_profile: false
permalink: /
header:
  overlay_color: "#696969"
  actions:
    - label: "Get Started"
      url: "https://bonvision.github.io/pages/info/"
excerpt: >
  An open-source software package to create and control visual environments.<br />
feature_row:
  - image_path: assets/Images/Demos/DemoAR.mp4
    alt: "placeholder image 1"
    title: "Augmented Reality - subject interaction"
    excerpt: "An example where we render a 3D object and a dynamic 2D stimulus simultaneously"
feature_row2:
  - image_path: assets/Images/Demos/VR.avi
    alt: "placeholder image 1"
    title: "Virtual Reality Corridor"
    excerpt: ""
feature_row3:
  - image_path: assets/Images/Demos/2AFC.avi
    alt: "placeholder image 1"
    title: "Human psychophysics - 2AFC"
    excerpt: ""
feature_row4:
  - image_path: assets/Images/DemoGIFs/basic.gif
    alt: "placeholder image 1"
    title: "Building a workflow"
    excerpt: "Creating a stimulus is as simple as shown in this animation, where stimuli can be designed by using various nodes in the program. The details of how to build stimuli are described in the section 'Getting Started'."
---

{% include feature_row  type="left" %}

{% include feature_row  id="feature_row2" type="right" %}

{% include feature_row  id="feature_row3" type="right" %}

{% include feature_row  id="feature_row4" type="right" %}

